body {
  background-color: rgb(33, 2, 20);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#floor {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  background-color: #000;
  box-shadow: 0 0 30px 20px #000;
}

.controlPad {
  opacity: 0.5;
  width: 20vmax;
  height: 20vmax;
  border-radius: 50%;
  position: fixed;
  bottom: 8vmax;
  left: 6vmax;
  background: linear-gradient(#aaa, #ccc);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5), inset 0px 2px 3px #fff;
}

.attackPad {
  opacity: 0.5;
  width: 10vmax;
  height: 10vmax;
  border-radius: 50%;
  position: fixed;
  bottom: 10vmax;
  right: 8vmax;
  background: linear-gradient(#c88, #a44);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5), inset 0px 2px 3px #fff;
}
